<div data-ng-controller="InstructorsController" class="pad">
    <div class="container" data-ng-show="user.role === 'instructor'">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view" data-ng-controller="ProfileController">
            <div class="col-sm-12 col-lg-12" data-ng-show="user">
                <a class="btn btn-xs btn-danger pull-right" href="/#!/instructors/home">Back To Instructor Home</a>
            </div>
            <div style="width: 25%; float: left;">
                <div>
                    <img class="profile_image" data-ng-src="{{showImage(user.photo)}}" />
                </div>
                <div style="margin: 0 30%;">
                    <a class="btn btn-xs btn-success" data-ng-show="user.photo" data-ng-click="deletePhoto()"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
            </div>
            <div data-ng-controller="SettingsController" style="width: 50%; float: left; margin-bottom: 20px;">
                <form data-ng-submit="updateUserProfile()" class="basic-grey" autocomplete="off">
                    <fieldset>
                        <div data-ng-show="successOne" class="text-center text-success alert alert-success">
                            <strong>Profile Saved Successfully</strong>
                        </div>
                        <div data-ng-show="errorOne" class="text-center text-danger alert alert-danger">
                            <strong data-ng-bind="errorOne"></strong>
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-large btn-default">Save Profile</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div style="width: 50%; clear: both; margin-left: 25%;">
                <form name="update" class="basic-grey" data-ng-submit="create()">
                    <fieldset>
                        <div data-ng-show="error" class="alert alert-danger">
                            <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                            <span data-ng-bind="error"></span>
                        </div>
                        <div data-ng-show="success" class="alert alert-success">
                            <a class="close" data-dismiss="alert" data-ng-click="removeAlert('success')" href="#">×</a>
                            <span data-ng-bind="success"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Experience</label>
                            <textarea name="experience" data-ng-model="user.experience"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Upload Image</label>
                            <input type="file" data-ng-file-select="onFileSelect($files)" name="upload" accept="image/png, image/jpeg">
                            <span class="text text-danger" data-ng-show="file && !correctFormat">Please only jpeg and png formats are allowed
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-default" data-ng-disabled="file && !correctFormat">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span>
                    <h4>You are not permitted to view this page</h4>
                </span>
            </div>
        </div>
    </div>
</div>
