<section data-ng-controller="InstructorsController" data-ng-init="getAssessment()" class="pad">
    <div class="container" data-ng-show="user.role === 'instructor'">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view">
             <div class="col-sm-12 col-lg-12" data-ng-show="user">
                <a class="btn btn-xs btn-danger pull-right" href="/#!/instructors/home">Back To Instructor Home</a>
            </div>
            <div class="col-md-offset-4 col-md-4" data-ng-controller="AssessmentController">
                <form name="assessmentForm" class="black-grey" data-ng-show="!error" data-ng-submit="updateAssessment()">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="assessment_name">Assessment Name</label>
                            <div class="controls" data-ng-class="{'has-error': assessmentForm.assessment_name.$invalid && !assessmentForm.assessment_name.$pristine }">
                                <input type="text" name="assessment_name" data-ng-model="assessment.assessment_name" id="assessment_name" class="form-control" placeholder="" required>
                                <p data-ng-show="assessmentForm.assessment_name.$invalid" class="help-block text-danger">Please enter a test name.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <em>Assessment Date</em>
                            <div class="controls">
                                <mac-datepicker id="assessment.assessment_date" class="form-control" ng-model="assessment.assessment_date"></mac-datepicker>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label" for="score">Score</label>
                            <div class="controls" data-ng-class="{'has-error': assessmentForm.score.$invalid && !assessmentForm.score.$pristine }">
                                <input type="number" name="score" data-ng-model="assessment.score" id="score" class="form-control" required>
                                <p data-ng-show="assessmentForm.score.$invalid" class="help-block text-danger">Score should be number.</p>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-large btn-default myButton" data-ng-disabled="assessmentForm.$invalid">
                        </div>
        				<div data-ng-show="error" class="text-danger">
        					<strong data-ng-bind="error"></strong>
        				</div>
                    </fieldset>
                </form>
         	</div>
        </div>
    </div>
    <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span><h4>You are not permitted to view this page</h4></span>
            </div>
        </div>
    </div> {{error}}
    <div class="alert alert-warning text-center" data-ng-show="error && user.role === 'instructor'" >
        <p>Oops!! The assessment you are looking for doesn't exist</p>
    </div>  
</section>