<section data-ng-controller="InstructorsController" data-ng-init="viewBootcamp()" class="pad">
    <div class="container" data-ng-show="user.role === 'instructor' && !error">
        <ng-include src='"/modules/instructors/views/instructor.sidebar.html"'></ng-include>
        <div class="admin-view">
            <div class="col-sm-12 col-lg-12" data-ng-show="user">
                <a class="btn btn-xs btn-danger pull-right" href="/#!/instructors/home">Back To Instructor Home</a>
            </div>
            <div class="page-header text-center">
              <h1>Applicants</h1>
            </div>

            <div>
                <table class="list list-link" data-ng-show="applicants.length">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody class="capitalize">
                        <tr data-ng-repeat="applicant in applicants | filter: onlyTrainees">
                            <td><a data-ng-href="/#!/instructors/trainees/{{applicant._id}}" data-ng-bind="applicant.firstName"></a></td>
                            <td><a data-ng-href="/#!/instructors/trainees/{{applicant._id}}" data-ng-bind="applicant.lastName"></a></td>
                            <td><a data-ng-href="/#!/instructors/trainees/{{applicant._id}}" data-ng-bind="applicant.email"></a></td>
                        </tr>               
                    </tbody>
                </table>
                <div class="alert alert-warning text-center" data-ng-if="bootcamp.$resolved && !applicants.length">
                    <span> No applicants have applied to this Bootcamp </span>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="user.role !== 'instructor'">
        <div class="row">
            <div class="alert alert-danger col-md-offset-2 col-md-6">
                <a class="close" data-dismiss="alert" data-ng-click="removeAlert('error')" href="#">×</a>
                <span><h4>You are not permitted to view this page</h4></span>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="error && user.role === 'instructor'" >
        <p>Oops!! The page you are looking for doesn't exist</p>
    </div>  
</section>
 